:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #ac4428;
  --text-color: #000;
  --text-secondary-color: #5b5b5e;
  --white-color: #fff;
  --separator-color: #d4d6e0;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
